<div *ngIf="pairings">
	<div class="row" *ngFor="let pair of pairings">
		<div class="wall clickableWall col-sm-2" data-toggle="collapse" attr.data-target="#toggle-buyer-{{pair.buyer.guid}}">
			<p class="boldFont">{{ pair.buyer.name.first }} {{ pair.buyer.name.last }}</p>
			<div attr.id="toggle-buyer-{{pair.buyer.guid}}" class="collapse">
				<br />
				<p>&#8226; {{ pair.buyer.email }}</p>
				<p>&#8226; {{ pair.buyer.phone }}</p>
			</div>
		</div>
		<div class="wall col-sm-1">
			<p class="boldFont">buys for <span class="glyphicon glyphicon-arrow-right"></span></p>
		</div>
		<div class="wall clickableWall col-sm-2" data-toggle="collapse" attr.data-target="#toggle-receiver-{{pair.receiver.guid}}">
			<p class="boldFont">{{ pair.receiver.name.first }} {{ pair.receiver.name.last }}</p>
			<div attr.id="toggle-receiver-{{pair.receiver.guid}}" class="collapse">
				<br />
				<p>&#8226; {{ pair.receiver.email }}</p>
				<p>&#8226; {{ pair.receiver.phone }}</p>
			</div>
		</div>
	</div>
</div>